<!DOCTYPE html>
<html lang="zh-TW">
<head>
<title>
	pB
</title>
<meta charset="UTF-8">

</head>

<body>
<h3>領域：</h3>
逆向工程

<h3>概述：</h3>
做為一個邪惡科學家, 也是需要一些研究經費來支撐整個產業鏈的, 為了收取額外的外快, Dr.Chi於是開始經營了廣告代理商的服務<br>
廣告程式載點:<a href="https://drive.google.com/file/d/1pan1k1yct5kvGC-ROLhvSxxyI9JrcEsQ/view?usp=sharing">點此</a>
<hr>

<h3>簡單任務：</h3>
<h4>難度：</h4>
★★☆☆☆☆☆☆☆☆
<h4>說明：</h4>
為了快速的謀利, Dr.Chi的廣告時間是一般廣告商的48763倍, 麻煩你想想辦法解決這個長到不行廣告
<h4>目標：</h4>
看完廣告並取得flag, 格式為flag{OOXX}
<h4>題示：</h4>
"桌面"上似乎有著如何解決這問題的線索
<hr>

<h3>困難任務：</h3>
<h4>難度：</h4>
★★★★★★★★★★
<h4>說明：</h4>
然而, 隨著你的調查逐漸深入, 你發現這個廣告平台似乎有著隱藏的功能, 麻煩你幫忙挖掘出來
<h4>目標：</h4>
找出隱藏的flag, 格式為flag{OOXX}
</body></html>