<!DOCTYPE html>
<html lang="zh-TW">
<head>
<title>
	pC
</title>
<meta charset="UTF-8">

</head>

<body>
<h3>領域：</h3>
社交工程

<h3>概述：</h3>
要摧毀這間實驗室，最根本的方法是從結構下手。這裡充滿了各式各樣的精密系統與裝置，我們只要找出其中的漏洞，從那著手，就能產生巨大的損害。

<hr>

<h3>簡單任務：</h3>
<h4>難度：</h4>
★★☆☆☆☆☆☆☆☆
<h4>說明：</h4>
Dr. 紀的實驗室中有非常多的伺服器，但並不是每一台都在運行。Dr. 紀發明了一個系統叫做「堆疊任務分發系統」，他可以主導哪一台伺服器該運行，哪一台該休息。<br>
為了破壞伺服器的運行。我們必須深入研究「堆疊任務分發系統」的運作原理，並找到該系統的分發記錄。這樣才能找出目前有哪些機器正在運行，從而進行精準的破壞。

<h4>目標：</h4>
找出正在運行的伺服器。格式為一連串的大寫字母。

<hr>

<h3>困難任務：</h3>
<h4>難度：</h4>
★★★★☆☆☆☆☆☆
<h4>說明：</h4>
Dr. 紀的實驗室遍佈全球，每個實驗室都會跟其他實驗室連接。我們要投遞病毒到 Dr. 紀的全球總部，這樣可以一舉癱瘓全球的實驗室。<br>
但 Dr. 紀也不是省油的燈，他有一套強大的防火牆系統，只要時間不小心花太久，我們的病毒就會被攔截。<br>
所以我們必須找到實驗室的全球地圖，上面有每間實驗室和哪些實驗室相連，以及傳資料過去會花多少時間。<br>
我們要計算出到總部最快的路徑，這樣才能在最少時間內將病毒送達。

<h4>目標：</h4>
找出到總部的最短路徑中會經過的實驗室。格式為一連串的大寫字母。


</body></html>