<!DOCTYPE html>
<html lang="zh-TW">
<head>
<title>
	pC
</title>
<meta charset="UTF-8">

</head>

<body>
<h3>領域：</h3>
社交工程

<h3>概述：</h3>
要摧毀這間實驗室，最根本的方法是從結構下手。這裡充滿了各式各樣的精密系統與裝置，我們只要找出其中的漏洞，從那著手，就能產生巨大的損害。

<hr>

<h3>簡單任務：</h3>
<h4>難度：</h4>
★★☆☆☆☆☆☆☆☆
<h4>說明：</h4>
Dr. 紀的實驗室中有非常多的伺服器，但並不是每一台都在運行。Dr. 紀發明了一個系統叫做「堆疊任務分發系統」，他可以主導哪一台伺服器該運行，哪一台該休息。<br>
為了破壞伺服器的運行。我們必須深入研究「堆疊任務分發系統」的運作原理，並找到該系統的分發記錄。這樣才能找出目前有哪些機器正在運行，從而進行精準的破壞。

<h4>目標：</h4>
找出正在運行的伺服器。格式為一連串的大寫字母。

<hr>

<h3>困難任務：</h3>
<h4>難度：</h4>
★★★★★★★★☆☆
<h4>說明：</h4>
Dr.Chi是個linux的狂熱愛好者, 而生為一個linux的狂熱粉絲, 不可能不入手一台樹梅派
然而致命的一點是, 樹梅派並不提供螢幕輸出, 為了使用方便, Dr.Chi準備了一個USB以控制裝置,
並在其中放置著機砲台的主控金鑰, 你是否能找出方法把Dr.Chi的重要資料(flag.txt)偷出來呢?
<h4>目標：</h4>
找出flag, 格式為flag{OOXX}

</body></html>