<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<title>pC</title>
	<meta charset="UTF-8">
</head>

<body>
	<h3>領域：</h3>
	社交工程
	<h3>概述：</h3>
	要成功逃出實驗室，其中一個阻礙便是外面隱藏的防禦系統，他能夠在入侵者剛踏上走廊時就將他們轟殺至渣，
	因此我們需要找到管理防禦系統的金鑰來將他關閉。
	<hr>
	<h3>簡單任務：</h3>
	<h4>難度：</h4>
	★☆☆☆☆☆☆☆☆☆
	<h4>說明：</h4>
	根據我的調查，Dr. 紀的邪惡專題生他的手上握有一把低權限的金鑰，可以在需要維護防禦系統暫時將它關閉，這中間的間隔便足以讓你們逃離了。
	<h4>目標：</h4>
	搜尋邪惡專題生的電腦，嘗試在上面找到防禦系統的金鑰。
	<hr>
	<h3>困難任務：</h3>
	<h4>難度：</h4>
	★★★★★★★☆☆☆
	<h4>說明：</h4>
	Dr. 紀的手上也有一把金鑰，它掌握了整個系統的最高權限，如果可以成功拿到這把金鑰的話，我們甚至可以啟動防禦系統的自毀裝置，永絕後患。<br>
	目前只知道 Dr. 紀把金鑰放在實驗室的樹莓派裡面，然而我們沒有辦法登入進去。幸好 Dr. 紀平常為了快速對防禦系統做操作有留下一道後門，研究一下放在桌上的隨身碟應該會對你們有幫助。
	<h4>目標：</h4>
	找出藏在樹莓派裡面的金鑰。
</body>
</html>