<!DOCTYPE html>
<html lang="zh-TW">
<head>
<title>
	pD
</title>
<meta charset="UTF-8">	
</head>

<body>
<h3>領域：</h3>
密碼破譯

<h3>概述：</h3>
在 Dr. 紀的所有系統中，都存在著密碼的保護機制，而在這之中，又存在著低權限與高權限的密碼，麻煩你去把密碼找出來好讓駭客入侵系統吧!!

<hr>

<h3>簡單任務：</h3>
<h4>難度：</h4>
★★☆☆☆☆☆☆☆☆
<h4>說明：</h4>
聽說 Dr. 紀的所設定的低權限使用者密碼是他放乖乖的位置，實驗室內有著工作日誌，裡面有關於乖乖的資訊。

<h4>目標：</h4>
找出乖乖的位置。答案為三個中文字。
<h4>備註:</h4>
由於 Dr. 紀的邪惡專題生在減肥過程中實在太餓了，所以把乖乖吃掉了，在房間內找不到乖乖是正常現象。
<hr>

<h3>困難任務：</h3>
<h4>難度：</h4>
★★★★★★★★★★
<h4>說明：</h4>
身為一個管理成千上萬系統的管理者， Dr. 紀需要有一個安全的方式去加密email，而在駭客的幫助下，你攔截到了含有最高管理權限密碼的郵件，<br>
不幸的是，這個密碼似乎被某種加密演算法保護著，但駭客似乎發現了某些服務可以洩露出相關資訊，麻煩你利用這些資訊找出 Dr. 紀的密碼吧。

<ul>
	<li>密文與公鑰網址：<a href="http://oracle.bla.bla/pk">http://oracle.bla.bla/pk</a></li>
	<li>加密：<a href="http://oracle.bla.bla/encrypt/數字">http://oracle.bla.bla/encrypt/數字</a></li>
	<li>解密：<a href="http://oracle.bla.bla/decrypt/數字">http://oracle.bla.bla/decrypt/數字</a></li>
	<li>取得原始碼：<a href="http://oracle.bla.bla/src">http://oracle.bla.bla/src</a></li>
</ul>
<h4>目標：</h4>
解開明文。格式為flag{XXOO}。
</body></html>