<!DOCTYPE html>
<html lang="zh-TW">
<head>
<title>
	pE
</title>
<meta charset="UTF-8">

</head>

<body>
<h3>領域：</h3>
計算機編碼

<h3>概述：</h3>
通過 magmarok 的考驗，得到 Dr. 紀的防火牆密碼。

<hr>

<h3>簡單任務：</h3>
<h4>難度：</h4>
★★★☆☆☆☆☆☆☆
<h4>說明：</h4>
邪惡的 Dr. 紀把辦公室防火牆的密碼藏在了一個糞 game 裡，因為這個糞 game 連他自己都破不了關，所以他覺得沒有人能夠通關拿到防火牆密碼。<br>
只要能拿到防火牆密碼我們就能清除 Dr. 紀邪惡實驗的資料，能不能夠破解 Dr. 紀的防火牆，就看你有沒有本事通過這個遊戲了!

<h4>目標：</h4>
在遊戲中解決 magmarok 並得到防火牆密碼。

<hr>

<h3>困難任務：</h3>
<h4>難度：</h4>
★★★★★★☆☆☆☆
<h4>說明：</h4>
邪惡的 Dr. 紀把他所有紀地防火牆的密碼藏在了一個更糞的糞 game 裡，因為這個更糞的糞 game 連他自己都破不了關，所以他覺得沒有人能夠通關拿到防火牆密碼。<br>
只要能拿到防火牆密碼我們就能清除 Dr. 紀邪惡實驗的資料，能不能夠破解 Dr. 紀的防火牆，就看你有沒有本事通過這個遊戲了!

<h4>目標：</h4>
在遊戲中解決 magmarok 並得到防火牆密碼。


</body></html>