<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<title>pA</title>
	<meta charset="UTF-8">
</head>

<body>
	<h3>領域：</h3>
	其他
	<h3>概述：</h3>
	為了防止你們跑出去洩漏他的邪惡計畫，Dr.
	紀已經在所有參加者身上安裝了晶片，只要被他發現有人跑出去便會放出高壓電湮滅證據，幸好在實驗室內的某個系統裡面應該存有晶片的相關規格，如果你們可以將它找出來的話，我可以製造出解除晶片的程式幫助你們。
	<hr>
	<h3>簡單任務：</h3>
	<h4>難度：</h4>
	★★☆☆☆☆☆☆☆☆
	<h4>說明：</h4>
	Dr. 紀的晶片研究計畫網站的資料庫上面，應該存有你們身上晶片的設計圖，若是你們有辦法找到管理員的金鑰的話，在 Dr. 紀發現之前我至少可以解除你們身上的晶片。<br>
	然而這應該很快就會被 Dr. 紀察覺，此時他一定會有所動作，那個金鑰也就報廢了。
	<h4>目標：</h4>
	找到 Dr. 紀的晶片研究網站，嘗試拿到管理員金鑰。
	<hr>
	<h3>困難任務：</h3>
	<h4>難度：</h4>
	★★★★★★★☆☆☆
	<h4>說明：</h4>
	Dr. 紀的手上也有一把金鑰，它掌握了整個系統的最高權限，如果可以成功拿到這把金鑰的話，我就有辦法取得資料庫的完整權限，摧毀整個計畫，同時拯救所有被植入晶片的受試者了。
	<h4>目標：</h4>
	目前只知道 Dr. 紀把金鑰藏在<a
		href="https://drive.google.com/file/d/1Jd8D-zrjnYsxm1LHzeNDOQ562moz2eoU/view?usp=sharing">這個檔案</a>裏面，然而我沒辦法輕易的將它取出，需要你們的幫助。
</body>

</html>